
$base-font-size: 16px;
$yellow: yellow;


$teal:#3EB9C6;
$orange: #FF8E1B;

.bg-teal{
    background-color: $teal;
}

.bg-orange{
    background-color: $orange;
}

.text-green{
    color:green;
}

.font-24{
    font-size: 24px;
}